@model UpdateEmployeeDto
@{
    ViewData["Title"] = "Update";
}
<br />
<br />
<h1>Update Page</h1>
<br />
<br />
<form asp-action="Update">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" type="text" class="form-control" id="Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Age" class="form-label">Age</label>
        <input asp-for="Age" type="number" class="form-control" id="Age">
        <span class="text-danger" asp-validation-for="Age"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" type="email" class="form-control" id="Email">
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Address" class="form-label">Address</label>
        <input asp-for="Address" type="text" class="form-control" id="Address">
        <span class="text-danger" asp-validation-for="Address"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Phone" class="form-label">Phone</label>
        <input asp-for="Phone" type="text" class="form-control" id="Phone">
        <span class="text-danger" asp-validation-for="Phone"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Salary" class="form-label">Salary</label>
        <input asp-for="Salary" type="number" class="form-control" id="Salary" step="0.01">
        <span class="text-danger" asp-validation-for="Salary"></span>
    </div>

    <div class="mb-3">
        <label asp-for="isActive" class="form-label">Active</label>
        <input asp-for="isActive" type="checkbox" class="form-check-input">
        <span class="text-danger" asp-validation-for="isActive"></span>
    </div>

    <div class="mb-3">
        <label asp-for="isDeleted" class="form-label">Deleted</label>
        <input asp-for="isDeleted" type="checkbox" class="form-check-input">
        <span class="text-danger" asp-validation-for="isDeleted"></span>
    </div>

    <div class="mb-3">
        <label asp-for="HiringDate" class="form-label">Hiring Date</label>
        <input asp-for="HiringDate" type="date" class="form-control" id="HiringDate">
        <span class="text-danger" asp-validation-for="HiringDate"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CreateAt" class="form-label">Creation Date</label>
        <input asp-for="CreateAt" type="date" class="form-control" id="CreateAt">
        <span class="text-danger" asp-validation-for="CreateAt"></span>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a asp-action="Index" asp-controller="Employee" class="btn btn-outline-primary">Back</a>
</form>
@section ValidationSection
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


